body {
    font-family: 'Bebas Neue', cursive;
}

.center {
    text-align: center;
    color: aliceblue;
}

.button {
    text-decoration: none;
    background-color: darkred;
    padding: 5px;
    color: aliceblue;
    border-radius: 10px;

}

.banner {
    background-image: url(images/donation7.jpg);
    background-size: 50% 100%;
}