body {
    font-family: 'Bebas Neue', cursive;
}

.center {
    text-align: center;
    color: aliceblue;
    background-image: url(images/donation10.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 70px;
}

#fontsize {
    font-size: 30px;
}

.button {
    text-decoration: none;
    background-color: darkred;
    padding: 5px;
    color: aliceblue;
    border-radius: 10px;
    text-align: center;

}

.second-page {
    color: rgb(13, 102, 179);
    text-align: center;
}

.font {
    font-size: 70px;
    padding-left: 20px;
}

.parafont {
    font-size: 30px;
    text-align: center;
}

.tk {
    color: brown;
    background-color: darkorange;
    border: 5px solid;
    border-color: red;
}

hr {
    width: 50%;
    height: 5px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
}

#heading {
    font-size: 70px;
    text-align: center;

}

.icon {
    padding: 50px;
    background-color: aqua;


}

.flexible {
    display: inline-block;
    background-color: burlywood;

}

.thirdpage {
    color: rgb(13, 102, 179);
    display: flex
}

#third-button {

    text-decoration: none;
    background-color: darkred;
    padding: 5px;
    color: aliceblue;
    border-radius: 10px;
    font-size: 30px;


}

.parafontthird {
    text-align: left color: black;
    font-size: 20px;
}

.image {
    padding-top: 70px;
    padding-left: 20px;



}

#third {
    height: 500px;
    width: 400px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.last {
    display: flex;
}

#heading {
    font-size: 70px;
    color: crimson;
}

.paragraph {
    font-size: 30px;
    text-align: justify;
    color: blueviolet;
}

.centre {
    text-align: center;
}

#head {
    font-size: 70px;
    color: crimson;
}

.cen {
    text-align: center;
}

.mail {
    text-align: center;
    display: flex;

    padding-left: 40%;
    background-color: coral;

}

#subscribe {
    background-color: aqua;
    font-size: 20px;
}

.footer {
    background-color: black;
    color: tomato;
    text-align: center;

}
}